# Pandas

{{ badge }}

Pandas is an open-source library that is made mainly for working with relational or labeled data both easily and intuitively. It provides various data structures and operations for manipulating numerical data and time series. This library is built on top of the NumPy library. Pandas is fast and it has high performance & productivity for users.


Useful links.

* [Quick Start](https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html)
* [Pandas Tutorial](https://www.geeksforgeeks.org/introduction-to-pandas-in-python/)
* [Cheatsheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)

In [ ]:
import pandas as pd

# Series and DataFrames
Pandas library has special data types designed to make dealing with big data easier

## Series
[Pandas Series](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html) is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). The axis labels are collectively called indexes.

In [ ]:
# series is similar to a dictionary with one key and the value of the key is a list
series = {"price":[12,23,42,657,76,76,23,156,394]}

series['price']

[12, 23, 42, 657, 76, 76, 23, 156, 394]

In [ ]:
ser = pd.Series([12,23,42,657,76,76,23,156,394])
ser

0     12
1     23
2     42
3    657
4     76
5     76
6     23
7    156
8    394
dtype: int64

## DataFrames
[Pandas DataFrame](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html) is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.Data in dataframe columns doesn't have to be in the same data type.

In [ ]:
# it is similar to a dictionary with many keys and the values of these keys is a list
# dataframe can be created by passing a dictionary 
dataframe ={ "price":[12,23,42,94],
             "product code":['c1','c2','c3','c4'],
             "amount":[10,2,13,4] }

df = pd.DataFrame(dataframe)
df

   price product code  amount
0     12           c1      10
1     23           c2       2
2     42           c3      13
3     94           c4       4

In [ ]:
# dataframe can be created by passing a list 
lis = [['item_1',1],['item_2' ,2] ,["items",'3']]
df_lis = pd.DataFrame (lis, columns = ['column_name', 'num'])
df_lis

  column_name num
0      item_1   1
1           2   2
2           3   3

In [ ]:
# dataframe can be created by passing a list of lists
products_list = [['laptop',1300],['printer',150],['tablet',300],['desk',450],['chair',200]]
df_lis = pd.DataFrame (products_list, columns = ['product_name', 'price'])
df_lis

  product_name  price
0       laptop   1300
1      printer    150
2       tablet    300
3         desk    450
4        chair    200

In [ ]:
# dataframe is a collaction of serieses
type(df['price'])

pandas.core.series.Series

# Data from URLs
Most of the time the data you will be working with will be stored on the web and in different formats. Pandas makes it easy for you to handel these different formats.

In [ ]:
# Downloading data from url
! wget https://info.stackoverflowsolutions.com/rs/719-EMH-566/images/stack-overflow-developer-survey-2022.zip
# unzipping the data
! unzip /content/stack-overflow-developer-survey-2022.zip
# deleting the zipped file
! rm /content/stack-overflow-developer-survey-2022.zip

## CSV
A CSV file is a comma-separated values file. It's a plain text file that can contain numbers and letters only, and structures the data contained within it in a tabular, or table, form.

In [ ]:
# Example of csv file open with text editor
"""
    Name,Email,Phone Number,Address

    Bob Smith,bob@example.com,123-456-7890,123 Fake Street

    Mike Jones,mike@example.com,098-765-4321,321 Fake Avenue
    
"""

In [ ]:
# reading csv file in pandas can be done with a single line of code

df = pd.read_csv("/content/survey_results_public.csv")

In [ ]:
df

In [ ]:
# pandas can read many other data types 

# pd.read_html
# pd.read_json
# pd.read_excel
# pd.read_xml
# pd.read_sql
# pd.read_pickel

# Describing Data with Pandas
Befor you work with your data you need to know your data. Pandas has many tools that you can use to understand your data.

In [ ]:
df

In [ ]:
df.size

In [ ]:
df.shape

In [ ]:
73268 * 79

In [ ]:
# setting the number of columns and rows that you want to see when printing the dataframe
pd.set_option("display.max_columns",85)
pd.set_option("display.max_rows",85)

In [ ]:
df

In [ ]:
# the data types of the data inside the dataframe
df.dtypes

In [ ]:
df.info()

In [ ]:
df.describe()
# std stands for standard deviation

,ResponseId,CompTotal,VCHostingPersonal use,VCHostingProfessional use,WorkExp,ConvertedCompYearly
count,73268.000000,3.842200e+04,0.0,0.0,36769.000000,3.807100e+04
mean,36634.500000,2.342434e+52,NaN,NaN,10.242378,1.707613e+05
std,21150.794099,4.591478e+54,NaN,NaN,8.706850,7.814132e+05
min,1.000000,0.000000e+00,NaN,NaN,0.000000,1.000000e+00
25%,18317.750000,3.000000e+04,NaN,NaN,4.000000,3.583200e+04
50%,36634.500000,7.750000e+04,NaN,NaN,8.000000,6.784500e+04
75%,54951.250000,1.540000e+05,NaN,NaN,15.000000,1.200000e+05
max,73268.000000,9.000000e+56,NaN,NaN,50.000000,5.000000e+07

In [ ]:
# all values columns even the ones with object data type
df.describe(include= 'all')

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessional use,OpSysPersonal use,VersionControlSystem,VCInteraction,VCHostingPersonal use,VCHostingProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
count,73268.000000,73268,71709,58958,58899,71571,71580,50685,29389,71331,51833,61302,51039,50969,67963,71771,51264,3.842200e+04,44425,70975,67027,60121,51014,49924,40415,53544,46122,44992,36810,54171,46566,70347,64108,65503,70963,71379,68156,0.0,0.0,46223,32072,62128,47688,71071,71365,70961,71572,58229,71408,70946,70853,70315,66565,69474,67244,66447,52670,36283,36769.000000,35804,34973,35133,35097,35014,34991,34977,35371,35344,34515,36198,36022,35679,34906,35819,35715,35749,70444,70508,3.807100e+04
unique,NaN,6,103,3,63,9,737,7192,206,52,52,9984,10,3,125,180,142,NaN,3,25068,23952,4223,4291,1500,1435,8259,8884,4205,5086,951,1245,15063,9188,55,56,16,15,NaN,NaN,1085,825,397,353,6,16,5,3,6,6,8,16,4,32,1055,27,57,2,2,NaN,5,5,5,5,5,5,5,5,5,5,5,5,5,155,2,2,2,3,3,NaN
top,NaN,I am a developer by profession,"Employed, full-time",Fully remote,Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","School (i.e., University, College, etc)",Technical documentation;Blogs;Written Tutorial...,Udemy,10,3,"Developer, full-stack",20 to 99 employees,I have some influence,Start a free trial;Visit developer communities...,United States of America,EUR European Euro,NaN,Yearly,HTML/CSS;JavaScript;TypeScript,Python,MySQL,PostgreSQL,AWS,AWS,React.js,React.js,.NET,.NET,npm,Docker,Visual Studio Code,Visual Studio Code,Windows,Windows,Git,Command-line,NaN,NaN,Confluence;Jira Work Management,Jira Work Management,Microsoft Teams,Slack,Indifferent,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,Less than once per month or monthly,"Yes, somewhat",25-34 years old,Man,No,Straight / Heterosexual,European,None of the above,None of the above,Yes,Independent contributor,NaN,Agree,Agree,Agree,Agree,Agree,Agree,Agree,1-2 times a week,1-2 times a week,1-2 times a week,30-60 minutes a day,15-30 minutes a day,Somewhat long,None of these,Yes,Yes,Yes,Appropriate in length,Easy,NaN
freq,NaN,53507,42962,25341,18118,30276,3669,715,5643,5217,4261,7142,10343,21991,11787,13543,12634,NaN,23267,1250,1021,3563,3994,8719,7350,1959,1703,8181,5025,7436,4298,6753,8815,16645,21653,62055,17602,NaN,NaN,7084,4737,9257,10935,18331,41859,21712,58519,26846,19674,28112,64607,67392,55238,14612,63064,46849,37200,30592,NaN,17527,10711,14779,16891,18674,12916,13080,21689,16368,17666,13652,11871,12961,4658,23767,22716,28027,53883,47886,NaN
mean,36634.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.342434e+52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.242378,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.707613e+05
std,21150.794099,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.591478e+54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.706850,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.814132e+05
min,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00
25%,18317.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.583200e+04
50%,36634.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.750000e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.784500e+04
75%,54951.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.540000e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.200000e+05
max,73268.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.000000e+56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000e+07

In [ ]:
df.isnull().sum()

In [ ]:
df.notnull().sum()

# Selecting and Viewing Data
Not always will you need to view all your data sometimes you will need to view a certain columns or/and rows

In [ ]:
# to display all the rows and columns
pd.set_option("display.max_columns",None)
pd.set_option("display.max_rows",None)

In [ ]:
df

In [ ]:
pd.set_option("display.max_columns",85)
pd.set_option("display.max_rows",85)

In [ ]:
# shows the first rows of the dataframe
df.head()

In [ ]:
# shows the last rows of the dataframe
df.tail(10)

In [ ]:
# shows the name of all the columns
df.columns

In [ ]:
# shows the column mentioned in the brackets
df['EdLevel']

In [ ]:
# to select multiple columns pass a list of the columns you want to select
df[['EdLevel' , "LearnCode"]]

In [ ]:
# another way to call a certain column
df.EdLevel

In [ ]:
# if a column has the same name as a method then pandas will use the method

products_list = [['laptop',32],['printer',12],['tablet',None],['desk',9],['chair',16]]
df_lis = pd.DataFrame (products_list, columns = ['product_name', 'count'])

# count with brackets show the number of values that is not None
df_lis.count

In [ ]:
df['EdLevel'].value_counts()

## iloc
iloc select rows by there number index, similar to how you select a value from a list

In [ ]:
df.iloc[1]

In [ ]:
# to select mutiple rows pass a list
df.iloc[[1,2,6]]

In [ ]:
# another way to select mutiple rows
df.iloc[1:10]

In [ ]:
df

In [ ]:
# you can select multiple rows a specific column or multiple columns
# because we are using iloc we have to pass the number of the column

df.iloc[[1,2] , [2]]

            Employment
1  Employed, full-time
2  Employed, full-time

In [ ]:
df.iloc[[1] , [2,4]]

            Employment                          CodingActivities
1  Employed, full-time  Hobby;Contribute to open-source projects

In [ ]:

df.iloc[[1,2,4] , [2,4,5]]

,Employment,CodingActivities,EdLevel
1,"Employed, full-time",Hobby;Contribute to open-source projects,NaN
2,"Employed, full-time",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)"
4,"Employed, full-time",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)"

## Index
the default index is numbers from 0 to the number of rows. we can change the default index to different values (email, IDs, etc.)

In [ ]:
# loc selects rows by there index
# the default index is numbers from 0 to the number of rows
# when the index is not changed iloc and loc work similarly when selecting rows

df.loc[1]

In [ ]:
df

In [ ]:
df.set_index('ResponseId', inplace = True)

In [ ]:
df.index

Int64Index([    1,     2,     3,     4,     5,     6,     7,     8,     9,
               10,
            ...
            73259, 73260, 73261, 73262, 73263, 73264, 73265, 73266, 73267,
            73268],
           dtype='int64', name='ResponseId', length=73268)

In [ ]:
# the 'ResponseId' columns of numbers from 1 to number of rows
df.loc[1]

In [ ]:
df

In [ ]:
# since we are using loc we can call columns by there name rather than there index  
df.loc[ 3,'EdLevel':'OrgSize']

In [ ]:
# to reset the index of the dataframe to default index
df.reset_index(inplace = True)

In [ ]:
# we can select the index column when we read the data 
meaning = pd.read_csv("/content/survey_results_schema.csv" ,index_col = "qname")
meaning

,qid,question,force_resp,type,selector
qname,,,,,
S0,QID16,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
MetaInfo,QID12,Browser Meta Info,False,Meta,Browser
S1,QID1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
MainBranch,QID2,Which of the following options best describes ...,True,MC,SAVR
Employment,QID296,Which of the following best describes your cur...,False,MC,MAVR
RemoteWork,QID308,Which best describes your current work situation?,False,MC,SAVR
CodingActivities,QID297,Which of the following best describes the code...,False,MC,MAVR
S2,QID190,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
EdLevel,QID25,Which of the following best describes the high...,False,MC,SAVR
LearnCode,QID276,How did you learn to code? Select all that apply.,False,MC,MAVR
LearnCodeOnline,QID281,What online resources do you use to learn to c...,False,MC,MAVR
LearnCodeCoursesCert,QID306,What online courses or certifications do you u...,False,MC,MAVR
YearsCode,QID32,"Including any education, how many years have y...",False,MC,DL
YearsCodePro,QID34,"NOT including education, how many years have y...",False,MC,DL
DevType,QID31,Which of the following describes your current ...,False,MC,MAVR
OrgSize,QID29,Approximately how many people are employed by ...,False,MC,MAVR
PurchaseInfluence,QID278,"What level of influence do you, personally, ha...",False,MC,SAVR
BuyNewTool,QID279,"When buying a new tool or software, how do you...",False,MC,MAVR
Country,QID6,"Where do you live? <span style=""font-weight: b...",True,MC,DL
Currency,QID50,Which currency do you use day-to-day? If your ...,True,MC,DL
CompTotal,QID51,What is your current total compensation (salar...,False,TE,SL
CompFreq,QID52,"Is that compensation weekly, monthly, or yearly?",False,MC,MAVR
S3,QID61,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
Language,QID233,"Which <b>programming, scripting, and markup la...",False,Matrix,Likert
Database,QID262,Which <b>database environments </b>have you do...,False,Matrix,Likert
Platform,QID263,Which <b>cloud platforms</b> have you done ext...,False,Matrix,Likert
Webframe,QID264,Which <b>web frameworks and web technologies</...,False,Matrix,Likert
MiscTech,QID265,Which <b>other frameworks and libraries</b> ha...,False,Matrix,Likert
ToolsTech,QID275,Which <b>developer </b><strong>tools</strong> ...,False,Matrix,Likert
NEWCollabTools,QID274,Which <strong>development environments</strong...,False,Matrix,Likert
OpSys,QID71,What is the primary <b>operating system</b> in...,False,Matrix,Likert
VersionControlSystem,QID283,What are the primary <b>version control system...,False,MC,MAVR
VCInteraction,QID284,How do you interact with your version control ...,False,MC,MAVR
VCHosting,QID285,What version control hosting service are you u...,False,Matrix,Likert
OfficeStackAsync,QID282,Which <b>collaborative work management tools</...,False,Matrix,Likert
OfficeStackSync,QID307,Which <b>communication tools</b> did you use r...,False,Matrix,Likert
Blockchain,QID305,"How favorable are you about blockchain, crypto...",False,MC,SAVR
S4,QID91,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
NEWSOSites,QID266,Which of the following Stack Overflow sites ha...,False,MC,MAVR
SOVisitFreq,QID100,How frequently would you say you visit Stack O...,False,MC,MAVR
SOAccount,QID101,Do you have a Stack Overflow account?,False,MC,MAVR
SOPartFreq,QID102,How frequently would you say you participate i...,False,MC,MAVR
SOComm,QID106,Do you consider yourself a member of the Stack...,False,MC,MAVR
S5,QID121,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
Age,QID127,What is your age?,False,MC,MAVR
Gender,QID122,"Which of the following describe you, if any? P...",False,MC,MAVR
Trans,QID153,Do you identify as transgender?,False,MC,MAVR
Sexuality,QID136,"Which of the following describe you, if any? P...",False,MC,MAVR
Ethnicity,QID126,"Which of the following describe you, if any? P...",False,MC,MAVR
Accessibility,QID124,"Which of the following describe you, if any? P...",False,MC,MAVR
MentalHealth,QID125,"Which of the following describe you, if any? P...",False,MC,MAVR
S6,QID295,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
TBranch,QID299,"<span style=""font-size:16px;"">Would you like t...",True,MC,SAVR
ICorPM,QID287,Are you an independent contributor or people m...,False,MC,SAVR
WorkExp,QID288,How many years of working experience do you have?,False,Slider,HSLIDER
Knowledge,QID289,Please rate your level of agreement with the f...,False,Matrix,Likert
Frequency,QID290,How frequently do you experience each of the f...,False,Matrix,Likert
TimeSearching,QID291,"On an average day, how much time do you typica...",False,MC,SAVR
TimeAnswering,QID292,"On an average day, how much time do you typica...",False,MC,SAVR
Onboarding,QID293,The time it takes to onboard new hires at my c...,False,MC,SAVR
ProfessionalTech,QID304,My company has:,False,MC,MAVR
SOTeamsUsage,QID286,Does your team use Stack Overflow for Teams?,False,MC,SAVR
TrueFalse,QID294,Last few questions...,False,Matrix,Likert
S7,QID131,"<span style=""font-size:22px;""><strong>Final Qu...",False,DB,TB
SurveyLength,QID132,How do you feel about the length of the survey...,False,MC,MAVR
SurveyEase,QID133,How easy or difficult was this survey to compl...,False,MC,MAVR
Knowledge_1,QID289,I have interactions with people outside of my ...,NaN,MC,MAVR
Knowledge_2,QID289,Knowledge silos prevent me from getting ideas ...,NaN,MC,MAVR
Knowledge_3,QID289,I can find up-to-date information within my or...,NaN,MC,MAVR
Knowledge_4,QID289,I am able to quickly find answers to my questi...,NaN,MC,MAVR
Knowledge_5,QID289,I know which system or resource to use to find...,NaN,MC,MAVR
Knowledge_6,QID289,I often find myself answering questions that I...,NaN,MC,MAVR
Knowledge_7,QID289,Waiting on answers to questions often causes i...,NaN,MC,MAVR
Frequency_1,QID290,Needing help from people outside of your immed...,NaN,MC,MAVR
Frequency_2,QID290,Interacting with people outside of your immedi...,NaN,MC,MAVR
Frequency_3,QID290,Encountering knowledge silos (where one indivi...,NaN,MC,MAVR
TrueFalse_1,QID294,Are you involved in supporting new hires durin...,NaN,MC,MAVR
TrueFalse_2,QID294,Do you use learning resources provided by your...,NaN,MC,MAVR
TrueFalse_3,QID294,Does your employer give you time to learn new ...,NaN,MC,MAVR

In [ ]:
meaning.loc['']

In [ ]:
meaning

In [ ]:
# selecting the row and the column
meaning.loc['Knowledge_7','question']

In [ ]:
# sorting the meaning by the alphabetical order of the index column
meaning.sort_index()

In [ ]:

meaning.reset_index(inplace = True)

In [ ]:
test = pd.DataFrame([{"a": 1, "b": 2, "c": 3}, {"a": 4, "b": 5, "c": 6}, {"a": 9, "b": 8, "c": 9}])
test.index = ["row1", "row2", "row3"]
test

      a  b  c
row1  1  2  3
row2  4  5  6
row3  9  8  9

# Filtering 
Selecting data from your dataframe baised on a condition

## boolean indexing
In boolean indexing, we will select subsets of data based on the actual values of the data in the DataFrame and not on their row/column labels or integer locations. In boolean indexing, we use a boolean vector to filter the data.

In [ ]:
test = ['t1','t2','t3','t4','t5']
test = pd.DataFrame(test, columns =['col1'])

In [ ]:
test

In [ ]:
test.loc[[True,True,False,True,False]]

In [ ]:
boolean = [True,True,False,True,False]
test.loc[boolean]

In [ ]:
# this will return a true and false series 
# ture for columns where the value in country column is equal to Iraq
filt = df['Country'] == 'Iraq'
filt

In [ ]:
filt.value_counts()

False    73214
True        54
Name: Country, dtype: int64

In [ ]:
type(filt)

pandas.core.series.Series

In [ ]:
iraq = df.loc[filt]
iraq

In [ ]:
iraq = df.loc[filt,['LearnCode','EdLevel','LearnCodeCoursesCert','YearsCodePro','CompTotal','Age','LanguageHaveWorkedWith']]

In [ ]:
iraq

In [ ]:
sale = pd.notnull(df["CompTotal"])

In [ ]:
iraq.loc[sale]

,LearnCode,EdLevel,LearnCodeCoursesCert,YearsCodePro,CompTotal,Age,LanguageHaveWorkedWith
18452,"Other online resources (e.g., videos, blogs, f...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Coursera;Udemy;Codecademy;Udacity,5,1200000.0,35-44 years old,C#;HTML/CSS;JavaScript;PHP;Python;SQL

In [ ]:
df['LanguageHaveWorkedWith']

In [ ]:
python = df['LanguageHaveWorkedWith'].str.contains('Python',na=False)

In [ ]:
iraq.loc[python].shape

(23, 7)

# Operations on dataframe

In [ ]:
df

In [ ]:
meaning.loc['CompTotal', 'question']

'What is your current total compensation (salary, bonuses, and perks, before taxes and deductions)? Please enter a whole number in the box below, without any punctuation.  If you are paid hourly, please estimate an equivalent weekly, monthly, or yearly salary. If you prefer not to answer, please leave the box empty.'

In [ ]:
df['Currency'].value_counts()

EUR European Euro              12634
USD\tUnited States dollar      12346
INR\tIndian rupee               4229
GBP\tPound sterling             3318
CAD\tCanadian dollar            1847
                               ...
BND\tBrunei dollar                 1
PGK\tPapua New Guinean kina        1
SHP\tSaint Helena pound            1
GIP\tGibraltar pound               1
TOP\tTongan pa’anga                1
Name: Currency, Length: 142, dtype: int64

In [ ]:
euro = df.loc[df['Currency'] == "EUR European Euro"]
exchange_rate = 0.98

In [ ]:
euro['CompTotal']

8         46000.0
17       190000.0
18         4000.0
21        32000.0
23            NaN
           ...
73202     55000.0
73211     24000.0
73221     60000.0
73251     65000.0
73261     36000.0
Name: CompTotal, Length: 12634, dtype: float64

In [ ]:
euro['CompTotal'] = euro['CompTotal'] * exchange_rate

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
euro['CompTotal']

8         45080.0
17       186200.0
18         3920.0
21        31360.0
23            NaN
           ...
73202     53900.0
73211     23520.0
73221     58800.0
73251     63700.0
73261     35280.0
Name: CompTotal, Length: 12634, dtype: float64

In [ ]:
euro['CompTotal'].mean()

980000000000000.0

In [ ]:
euro['CompTotal'].max()

980000000000000.0

# Group by
Groupby is a pretty simple concept. We can create a grouping of categories and apply a function to the categories. It’s a simple concept but it’s an extremely valuable technique that’s widely used in data science.

In [ ]:
pd.set_option("display.min_rows",5)

In [ ]:
group = df.groupby('Country')

In [ ]:
group

In [ ]:
group.count()

In [ ]:
group.first(5)

In [ ]:
group.size().sort_values(ascending=False)

In [ ]:
group.get_group('United States of America')

In [ ]:
group["CompTotal"].max()

In [ ]:
group_country_ethnicity = df.groupby(['Country','Ethnicity'])

In [ ]:
pd.set_option("display.min_rows",100)

In [ ]:
group_country_ethnicity.count()